.container {
  padding: 5rem 20rem;
  display: flex;
  background-color: #6B1919;
  flex-direction: column;
  gap: 3.2em;
  align-items: center;
  color: white;
}

.content {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.column {
 display: flex;
 flex-direction: column; 
 width: 100%;
 align-items: flex-start;
 justify-content: center;
 padding: 5rem;
}

.header {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.left {
  background-color: #620F0F;
}

.right {
  background-color: #580505;
}

.footerHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whiteText.whiteText {
  color: white;
}

.backgroundWhite.backgroundWhite {
  background-color: white;
}