.container {
  padding: 5rem 20rem;
  display: flex;
  background-color: #6B1919;
  flex-direction: column;
  gap: 3.2em;
  align-items: center;
  color: white;
}

.content {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.column {
 display: flex;
 flex-direction: column; 
 width: 100%;
 align-items: flex-start;
 justify-content: center;
 padding: 5rem;
 gap: 2rem;
}

.header {
  font-size: 1.6rem;
  font-weight: 700;
}

.left {
  background-color: #620F0F;
}

.right {
  background-color: #580505;
}

.footerHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whiteText.whiteText {
  color: white;
}

.backgroundWhite.backgroundWhite {
  background-color: white;
}

.icon {
  width: 20px;
  height: 20px;
}

.section {
  display: flex;
  align-items: center;
  color: #E1D9D1;
  gap: 24px;
}

.horizontalDivider {
  background-color: white;
  width: 70px;
  height: 5px;
  border-radius: 0 0.5rem 0.5rem 0;
}

.whatsApp {
  color: white;
}