.container {
  width: 100%;
  height: 40vw;
  display: flex;
  justify-content: center;
  background-color: #F8F2DE;
  cursor: pointer;
  position: relative;
}

@media(max-width: 768px) {
  .container {
    height: 57vw;
  }
}


