.contentSection {
  display: flex;
  padding: 5rem;
  max-width: 1200px;
}

.leftContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.rightContent {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 50%;
}

.text {
  text-align: justify;
}

.boldText {
  font-weight: 700;
}

/* Red box for temporary image placeholder */
.imageContainer {
  width: 100px;
  height: 100px;
  background-color: red;
}

.productCardContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1.2rem;
}

@media(max-width: 1280px) {
  .contentSection {
    padding: 0;
    flex-direction: column;
    gap: 1.2rem;
  }

  .leftContent {
    width: 100%;
  }

  .rightContent {
    width: 100%;
  }
}

@media(max-width: 600px) {
  .productCardContainer {
    flex-direction: column;
  }
}