.imageContainer {
  position: relative;
  width: 500px;
  height: 200px;
}

.colorBackground {
  background-color: #F8F2DE;
}

@media(max-width: 540px) {
  .imageContainer {
    width: 100%;
    height: 32vw;
  }
}