.redBackground.redBackground {
  background-color: #6b1919;
}

.whiteText.whiteText {
  color: white;
}

.whiteBackground.whiteBackground {
  background-color: white;
}

.cardSection {
  display: flex;
  gap: 32px;
}

@media(max-width: 1280px) {
  .cardSection {
    flex-direction: column;
    align-items: center;
  }
}